<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <paths>
        <media-path>media/</media-path>
        <log-path disable="false">log/</log-path>
        <data-path>data/</data-path>
        <template-path>template/</template-path>
    </paths>

    <html>
        <remote-debugging-port>9222</remote-debugging-port>
        <enable-gpu>false</enable-gpu>
    </html>

    <channels>
        <channel>
            <video-mode>1080p5000</video-mode>
            <channel-layout>stereo</channel-layout>
            <consumers>
                <screen>
                    <device>1</device>
                    <windowed>true</windowed>
                </screen>

                <ndi>
                    <name>CasparCG-Branding-Out</name>
                </ndi>
            </consumers>
        </channel>
    </channels>

    <controllers>
        <tcp>
            <port>5250</port>
            <protocol>AMCP</protocol>
        </tcp>
    </controllers>

</configuration>